@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.lawnstarter-theme {
  --color-primary: #0ab463;
  --color-disabled: #c4c4c4;
  --background-default: #ededed;
  font-family: "Verdana", sans-serif;
}
